* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 30px;
    color: white;
    background-color: darksalmon;
    border-color: darksalmon;
    border-width: 0.5px;
}

button {
    padding: 12px;
    border-width: 0.5px;
    color: black;
    background-color: blanchedalmond;
}

button:hover {
    cursor: pointer;
}